venv
# Compiled python files
*.pyc
logs*
venv/
env/

*.log
*.sqlite3

.idea/
.vscode/

# Compiled files
*.class
*.war
*.jar
*.ear
*.aar

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Temporary files
*.tmp
*.swp

# Environment variables file
.env

# PDF output files
*.pdf
# build/lessons/
# build/posts/
# build/blogs/
# build/projects/